$font-size-base:    10px;
$font-size-normal:  1.6rem;
$font-size-xl:      3rem;

$font-size-h1:      6rem;
$font-size-h2:      5rem;

$margin-sm:     1.0rem;
$margin-md:     1.5rem;
$margin-lg:     2.0rem; 
$margin-xl:     3.0rem;

$black:         #282c34;
$blue:          #004482;
$white:         #FFFBF1;

$vsLightBlue:   #9CDCFE;
$vsDarkBlue:    #569CD6;
$vsOrange:      #CE9178;
$vsGray:        #808080;
$vsDarkGray:    #cccccc33;

$vsBlue1:       #000080;
$vsBlue2:       #007acc;
$vsBlue3:       #4FC1FF;
$vsBlue4:       #569CD6;
$vsBlue5:       #646695;
$vsBlue6:       #6796E6;
$vsBlue7:       #9CDCFE;

$vsGreen1:      #4EC9B0;
$vsGreen2:      #16825d;
$vsGreen3:      #369432;
$vsGreen4:      #6A9955;

$vsOrange1:     #CD9731;
$vsOrange2:     #CE9178;
$vsOrange3:     #D16969;
$vsOrange4:     #d4d4d4;
$vsOrange5:     #D7BA7D;
$vsOrange6:     #DCDCAA;
$vsOrange7:     #F44747;

$vsGray1:       #cccccc33;
$vsGray2:       #1e1e1e;
$vsGray3:       #252526;
$vsGray4:       #383b3d;
$vsGray5:       #3a3d41;
$vsGray6:       #404040;
$vsGray7:       #707070;
$vsGray8:       #808080;
$vsGray9:       #a6a6a6;
$vsGray10:      #add6ff26;