* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

h2 {
  font-size: 3rem;
  margin: 3rem 0;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.fade-in-text {
  display: inline-block;
  color: #FFFBF1;
  animation: fadeIn linear 5s;
  -webkit-animation: fadeIn linear 5s;
  -moz-animation: fadeIn linear 5s;
  -o-animation: fadeIn linear 5s;
  -ms-animation: fadeIn linear 5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.vsLightBlue {
  color: #9CDCFE;
}

.vsDarkBlue {
  color: #569CD6;
}

.vsOrange {
  color: #CE9178;
}

.vsGray {
  color: #808080;
}

.vsBlue1 {
  color: #000080;
}

.vsBlue2 {
  color: #007acc;
}

.vsBlue3 {
  color: #4FC1FF;
}

.vsBlue4 {
  color: #569CD6;
}

.vsBlue5 {
  color: #646695;
}

.vsBlue6 {
  color: #6796E6;
}

.vsBlue7 {
  color: #9CDCFE;
}

.vsGray1 {
  color: #cccccc33;
}

.vsGray2 {
  color: #1e1e1e;
}

.vsGray3 {
  color: #252526;
}

.vsGray4 {
  color: #383b3d;
}

.vsGray5 {
  color: #3a3d41;
}

.vsGray6 {
  color: #404040;
}

.vsGray7 {
  color: #707070;
}

.vsGray8 {
  color: #808080;
}

.vsGray9 {
  color: #a6a6a6;
}

.vsGray10 {
  color: #add6ff26;
}

.vsGreen1 {
  color: #4EC9B0;
}

.vsGreen2 {
  color: #16825d;
}

.vsGreen3 {
  color: #369432;
}

.vsGreen4 {
  color: #6A9955;
}

.vsOrange1 {
  color: #CD9731;
}

.vsOrange2 {
  color: #CE9178;
}

.vsOrange3 {
  color: #D16969;
}

.vsOrange4 {
  color: #d4d4d4;
}

.vsOrange5 {
  color: #D7BA7D;
}

.vsOrange6 {
  color: #DCDCAA;
}

.vsOrange7 {
  color: #F44747;
}

span[class^='vs'] {
  font-family: Consolas;
}

.indent-left {
  margin-left: 32px;
}

header {
  color: #FFFBF1;
  height: 300px;
  width: 100%;
  background-color: #282c34;
  margin: 0;
  padding: 3rem;
  /* background-image: url(../imgs/sun.jpg); */
  /* background-image: url(../imgs/sun.jpg) no-repeat center center fixed; */
  /* -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header h1 {
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

header h2 {
  font-size: 5rem;
  margin-top: 0;
  padding-left: 11rem;
}

header div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

header .header-left {
  opacity: .6;
  padding-left: 11rem;
  padding-top: 0rem;
}

main {
  margin: 3rem;
}

.project {
  border: 1px solid #282c34;
  border-radius: 10px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-right: 15px;
  padding: 15px;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.project h3 {
  margin-top: 0;
}

.project:nth-child(3) {
  margin-right: 0;
}

footer {
  background-color: #282c34;
  color: #FFFBF1;
  min-height: 4rem;
  margin-top: 4rem;
  overflow: hidden;
  padding: 2rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  color: #FFFBF1;
}

footer .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-left p {
  font-size: 1.3rem;
  margin: 0;
}

footer .footer-left p .fa-circle {
  font-size: .5rem;
  margin: 0 1rem;
  position: relative;
  top: -3px;
}

footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-right ul {
  margin: 0;
  list-style-type: none;
}

footer .footer-right ul li {
  float: left;
  margin-right: 5rem;
}

footer .footer-right ul li i {
  font-size: 4rem;
}
/*# sourceMappingURL=main.css.map */